<div *ngIf="recipe; else noSelection">
  <h2>{{ recipe.name }}</h2>
  <p>{{ recipe.description }}</p>
  <img
    [src]="recipe.imagePath"
    alt="{{ recipe.name }}"
    class="img-fluid rounded"
    style="max-width: 500px"
  />
  <div class="dropdown">
    <button class="dropbtn">Manage Recipe</button>
    <div class="dropdown-content">
      <a href="#">To Shopping List</a>
      <a href="#">Edit Recipe</a>
      <a href="#">Delete Recipe</a>
    </div>
  </div>



  <div class="row mt-4">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} ({{ ingredient.amount }})
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #noSelection>
  <p>Please select a recipe to view!.</p>
</ng-template>


<script>
  document.addEventListener('click', function (e) {
    const dropdown = e.target.closest('.dropdown');
    document.querySelectorAll('.dropdown-content').forEach(menu => {
      menu.style.display = 'none';
    });
    if (dropdown) {
      const menu = dropdown.querySelector('.dropdown-content');
      if (menu) menu.style.display = 'block';
    }
  });
</script>
