<div *ngIf="recipe; else noSelection">
  <h2>{{ recipe.name }}</h2>
  <p>{{ recipe.description }}</p>

  <img
    [src]="recipe.imagePath"
    alt="{{ recipe.name }}"
    class="img-fluid rounded"
    style="max-width: 500px"
  />

  <br /><br />

  <mat-form-field appearance="fill">
    <mat-label>Manage Recipe</mat-label>

    <mat-select (selectionChange)="onActionSelected($event.value)">
      <mat-option value="shopping">To Shopping List</mat-option>
      <mat-option value="edit" >Edit Recipe</mat-option>
      <mat-option value="delete">Delete Recipe</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row mt-2">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} ({{ ingredient.amount }})
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #noSelection>
  <p>Please select a recipe to view.</p>
</ng-template>
